.jeu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 20px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}
.carte {
    position: relative;
    height: 100px;
    width: 71px;
}
@media screen and (max-width: 1280px) {
    .jeu {
        grid-template-columns: repeat(4, auto);
    }
    .carte {
        height: 225px;
        width: 160px;
        position: center;
    }
}
