.carte {
    position: center;
    border-radius: 8px;
    height: 350px;
    width: 250px;
    size: 60px;
}
.jeu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px;
    margin: 50px;
    justify-content: center;
    background-color: rgba(0,0,0,0.2);
    padding: 30px;
    border-radius: 8px;

}
.titre {
    background-color: rgba(0,0,0,0.2);
    text-align:center;
    font-size: 100px;
    margin: 50px;
    border-radius: 8px;
    font-family: "Comic Sans MS";
}

body {
    background: linear-gradient(to right,#9b9fcd, lavender );

}
.mode {
    position: center;
    text-align:center;
    font-family: "Comic Sans MS";
    font-style: oblique ;
    background: linear-gradient(to right, lavender,#9b9fcd );
    border-radius: 8px;
    margin-right: 70px;
    margin-left: 70px;
}
.clique {
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 40px;
}
.auteurs {
    font-family: "Comic Sans MS";
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
}
@media screen and (max-width: 1280px) {
    .jeu{
        grid-template-columns: repeat(1, auto);
    }
}
