body {
    margin: 0;
    background: linear-gradient(to right , lavender , floralwhite);
}

.titre {
    color: black;
    font-family: "Comic Sans MS";
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    font-size: 60px;
    margin: 50px;
    border-radius: 8px;
}

.boite-info {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.info {
    font-size: 1.5em;
}

.avancement-partie {
    font-size: 80px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
    color: floralwhite;
    font-family: "Comic Sans MS";



}

.avancement-partie-petit {
    font-size: .15em;
}

.avancement-partie.visible {
    display: flex;
    flex-direction: column;
    animation: avancement-grandit 600ms forwards;
}

@keyframes avancement-grandit {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 10em;
    }
}

.jeu {
    display: grid;
    grid-template-columns: repeat(4 , auto);
    grid-gap: 20px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
    background-color: rgba(0,0,0,0.2);
    padding-bottom: 40px;
    border-radius: 8px;
}

.carte {
    position: relative;
    height: 125px;
    width: 89px;
}
.copyright{
    font-family: "Comic Sans MS";
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 300px;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;
}

.carte.visible .verso{
    transform: rotateY(-180deg);
}

.carte.visible .recto{
    transform: rotateY(0deg);
}

.dropbutton{
    background-color: grey;
    color : azure;
    padding : 5px;
    border : none;
    border-radius: 8px;
    font-size: 1.1em;
    cursor : pointer;
}
.dropbutton:hover, .dropbutton:focus {
    background-color: red;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#9b9fc;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 8px;
}


.dropdown-content a{
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}
.dropdown-content a:hover {background-color: grey}

.dropdown:hover .dropdown-content {
    display: block;
}

.recto {
    transform: rotateY(180deg);
}

.motif {
    align-self: center;
    width: 100%;
    height: 100%;
    transition: transform 100ms ease-in-out;
    border-radius: 8px;

}

.recto:hover .motif {
    transform: scale(1.1);
}

.image {
    align-self: center;
    width: 100%;
    height: 100%;
    transition: transform 100ms ease-in-out;
    border-radius: 8px;
}

.verso:hover .image {
    transform: scale(1.1);
}
.audio{
    position: fixed;
    bottom: 0px;
    left: 0px;
}

@media (max-width: 600px) {
    .jeu {
        grid-template-columns: repeat(2, auto);
    }
    .boite-info {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1280px) {
    body{
        background: floralwhite;
    }
    .avancement-partie {
        color: whitesmoke;
    }
    .jeu {
        grid-template-columns: repeat(2, auto);
    }
    .avancement-partie-petit {
        font-size: .4em;
    }
    .carte {
        height: 225px;
        width: 160px;
        position: center;
    }
    .dropbutton{
        padding: 20px;
        font-size: 1.6em;
    }
    .info {
        font-size: 1.2em;

    }


}